# Payment Service
PAYMENT_SERVICE_URL=http://localhost:3001/api/v1
PAYMENT_API_KEY=abcdef_this_should_be_very_secure

# Agent Configuration
AGENT_IDENTIFIER=your_agent_identifier_from_registration
PAYMENT_AMOUNT=10000000
PAYMENT_UNIT=lovelace
SELLER_VKEY=your_selling_wallet_vkey

# OpenAI
OPENAI_API_KEY=your_openai_api_key

# Network
NETWORK=Preprod # or Mainnet

CAR_API_TOKEN=284a553c-b32a-4f6f-abfe-06ec84c2624e
CAR_API_SECRET=48571e6676e93a8b23107bc5a7d8e4a5